body{
    image-rendering: crisp-edges;
    background-image: url("BG.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-color: rgb(25, 25, 25); 
    margin: 0px;
}

.navigation{
    display: flex; 
    color:rgb(80, 188, 255); 
    background-color: rgb(50, 50, 50); 
    width: 100%; height:100px; 
    padding: 0px; 
    align-items: center;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: red;
}